#map {
    height: 600px;
    width: 80%;
    margin: 0 auto;
    animation: anime 3s 1;
}

@keyframes anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: white;
    color: red;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
}

.btn:hover{
    transition: 1s;
    background-color: red;
    color: white;
}